{{partial "header.html" .}}
            <div class="news-article box">
                        <h2>BioArchLinux: bioinformatics community with Arch Linux</h2>
                        <div class="article-content" itemprop="articleBody">
                        <p>You've reached the website for BioArchLinux, a community for, Arch Linux, the lightweight and flexible Linux® distribution that tries to Keep It Simple.</p>
                        <p>Currently we have official packages optimized for the x86-64 architecture. We complement our official package sets with a community-operated package repository that grows in size and quality each and every day.</p>
                        <p>Our strong community is diverse and helpful, and we pride ourselves on the uses for BioArchLinux that stem from it. Please check out our <a href="https://github.com/BioArchLinux/Packages">git repository</a> to get your feet wet. Also glance through our <a href="https://wiki.bioarchlinux.org">wiki</a> if you want to learn more about BioArchLinux.</p>
                        </div>
            </div>
            <div id="news">
            <h3>
                <a href="/" title="Browse the blogs">Latest Posts</a>
                <span class="arrow"></span>
            </h3>
            <a href="/index.xml" title="BioArchLinux News RSS Feed" class="rss-icon"><img width="16" height="16" src="/rss.png" alt="RSS Feed" /></a>
                {{ range where site.RegularPages "Type" "posts" }}
                    <h4><a href="{{.Permalink}}" title="{{.Title}}"> {{.Title}}</a></h4>
                    <p class="timestamp">{{.Date.Format "2006-01-02"}}<p>
                    <div class="article-content">
                        {{.Content}}
                    </div>
                {{end}}
            </div>
{{partial "footer.html" .}}
